%h1 Systems Overview

%p Vagrant boxes:
%p=`vagrant box list`
%p Vagrant status:
%p=`vagrant status`
%a{ :href => '/init' }
  %h1 INITIALIZE THE MAIN REACTOR!
%a{ :href => '/suspend' }
  %h1 Suspend thar' VM there lad!
%a{ :href => '/shutdown' }
  %h1 SHUT 'ER DOWN CAPUN!

%a{ :href => '/startup' }
  %h1 Start your engines!
